.note-box {
    position: absolute;
    top: -200px; /* Adjust the value based on your design */
    left: 50%; 
    transform: translateX(-50%);
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 10px;
    max-width: 300px;
    font-size: 11px; /* Increased font size by 10% */
    overflow: hidden; /* Hide overflow content */
    transition: max-height 0.3s ease; /* Add transition for smooth animation */
}

.button {
    display: block;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 8.64px 17.28px; /* Increased padding by 20% more */
    border-radius: 3px; 
    margin-top: 5px; 
    font-size: 11.088px; /* Increased font size by 20% more */
}
.read-more {
    display: none; /* Hide by default */
}
.read-less {
    display: none; /* Hide by default */

}

.read-more {
    cursor: pointer;
    color: #007bff;
    text-align: center;
    margin-top: 5px;
    display: none; /* Hide by default */
}

@media (max-width: 767px) {
    .read-more {
        display: block; /* Show on mobile devices */
    }
    .note-box {
        max-height: 30%; /* Collapse by 50% */
    }
    .note-box {
        top: -30%; /* Adjust top position for better visibility */
    }
}
